.demo-table {
    width: 100%;
}

table.table {
    box-shadow: none;
    border: 1px solid #ddd;
}

table.table td {
    border: 1px solid #ddd;
}

table.table td,
table.table th {
    border: 1px solid #ddd;
}

.order-item-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border);
    gap: 1rem;
    padding: 5px 10px;
    margin: 5px 0;
    align-items: center;
}

.order-item-wrapper {
    display: block;
    width: auto;
    background-color: var(--border);
    padding: 5px;
}

.li-order{
    border-bottom: 1px solid #f8f8f8;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.li-order:hover{
    cursor: pointer;
}

.info-box{
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
    flex-grow: 1;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

@media (min-width: 550px) {

}