/* Border */

.page-header {
    width: 100%;
    line-height: 30px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px;
}

.page-header img {
    height: 30px;
    width: 30px;
}

.page-header img:hover {
    cursor: pointer;
    color: aquamarine;
}

.menu-item {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}
.menu-item-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.spice {
    width: 30px;
    height: 30px;
}

/** Desktop **/
@media (min-width: 550px) {
    
    .menu-item-right{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    
}