/* Border */

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

.spice {
    width: 30px;
    height: 30px;
}

/* Font color */

input.mat-input-element {
    color: white;
}

input.mat-form-field {
    color: white;
}

input.mat-form-field {
    border: none;
}

input.mat-select {
    border: none;
}

