<div class="header-container" #headerContainer>
    <header>
        <div class="wrapper">
            <div class="logo">
                Desi Times
            </div>
            <div class="navbar" #navBar>

                <div>
                    <ul>
                        <li *ngIf="user === null || user === undefined"><a href="/login">Login</a></li>
                        <li *ngIf="user !== null && user !== undefined">
                            <div class="h-flex">
                                <div class="userIcon">
                                    <img src="/assets/icons/user.png" height="15" width="15">
                                </div>

                                <div class="y-flex">
                                    <span>Welcome</span>
                                    <span>{{user.name}}</span>
                                </div>
                            </div>

                        </li>
                        <li *ngIf="user !== null && user !== undefined"><a (click)="logout()">Logout</a></li>
                        <li *ngIf="user === null || user === undefined"><a href="/register">Signup</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="close-nav"><button #closeButton (click)="showHide()">X</button></div>
            </div>
            <div class="menu-bar">
                <button (click)="showHide()"><i></i></button>
            </div>
        </div>
    </header>
    <div *ngIf="user !== null && user !== undefined" class="h-flex justify-content-center align-items-center" style="height: 50px; line-height: 50px;z-index: 999;">
        <strong class="navLink" (click)="onSelectNavLink('Dashboard', '/home')" [class.navLink-selected]="isNavSelected('Dashboard')">Dashboard</strong>
        <strong class="navLink" (click)="onSelectNavLink('Orders', '/orders')" [class.navLink-selected]="isNavSelected('Orders')">Orders</strong>
        <strong class="navLink" (click)="onSelectNavLink('Menus', '/menus')" [class.navLink-selected]="isNavSelected('Menus')">Menus</strong>
        <strong class="navLink" (click)="onSelectNavLink('Profile', '/profile')" [class.navLink-selected]="isNavSelected('Profile')">Settings</strong>
    </div>
</div>