.page-header {
    margin: 0 10px;
    padding: 10px;
    background-color: #F5A623;
}

.order-status {
    margin: 0 10px;
    padding: 0 10px;
    background-color: aliceblue;
}

.section {
    border: 1px solid #e2e2e2;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 6px;
}

.section-header {
    padding: 10px 5px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
}

.order-summary {
    margin: 0 10px;
}

.order-items {
    margin: 0 10px;
}

.order-customer {
    margin: 0 10px;
}