<div class="main">
    <div class="left">
        <img src="/assets/images/home-cooking.jpeg">
    </div>
    <div class="right">
        <div style="width: 500px;height: 500px;padding: 20px;">
            <div class="y-flex">
                <span style="font-weight: 900;font-size: 30px;padding: 10px 0;">Login</span>
                <div class="input-div">
                    <input class="_381fS" type="email" name="email" id="email" tabindex="1" autocomplete="off" value=""
                        [(ngModel)]="email" #ctrl="ngModel">
                    <div class="_2EeI1 _26LFr"></div>
                    <label class="_1Cvlf _2tL9P" for="email">Email</label>
                </div>
                <span style="text-align: right;" class="clickable" [routerLink]="['/password_reset/new']">Forgot?</span>
                <div class="input-div">
                    <input class="_381fS" type="password" name="password" id="password" tabindex="1" autocomplete="off"
                        value="" [(ngModel)]="password" #ctrl="ngModel">
                    <div class="_2EeI1 _26LFr"></div>
                    <label class="_1Cvlf _2tL9P" for="password">Password</label>
                </div>
                <br>
                <button class="big-black-btn" (click)="submit()">Sign In</button>

                <div style="text-align: center;padding: 10px;font-weight: 600;">
                    Don't have an account? <span (click)="joinUs()" class="clickable">Sign up</span>
                </div>
                <div *ngIf="errorMessage !== undefined"
                    style="font-weight: normal;text-align: center;display: block;background-color: rgb(241, 215, 215);color: #bc3737;padding: 20px;">
                    <p>{{errorMessage}}</p>
                </div>
                <div *ngIf="loading">
                    <span>Authenticating....</span>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>