.main {
    display: flex;
    flex-direction: row;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

.left {
   
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image {
    /* height: 40em; */
    /* background-size: cover; */
    /* width: auto; */
    background-image: url('/assets/images/slice.jpeg');
    /* background-position: 50% 50%; */
}

@media (min-width: 500px) {
    /* .main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
    } */

    .main {
        display: flex;
        flex-direction: row;
        -ms-flex-align: stretch;
        align-items: stretch;
        height: 100%;
        overflow: hidden;
    }

    .left {
        width: 400px;
        height: 100vh;
        flex-grow: 1;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .right {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}