<div class="main">
    <div class="left"></div>
    <div class="right">
        <div style="width: 500px;height: 500px;padding: 20px;">
            <div class="y-flex">
                <div class="y-flex" *ngIf="!signupSuccess">
                    <span style="font-weight: 900;font-size: 30px;padding: 10px 0;">Signup</span>
                    <form (ngSubmit)="registerUser()" [formGroup]="registerForm">
                        <div class="h-flex">
                            <div class="input-div">
                                <input type="text" id="firstName" class="form-control _381fS" formControlName="firstName" required />
                                <div class="_2EeI1 _26LFr"></div>
                                <label class="_1Cvlf _2tL9P" for="firstName">First name</label>
                            </div>
                            <div class="input-div">
                                <input type="text" id="lastName" class="form-control _381fS" formControlName="lastName" required />
                                <div class="_2EeI1 _26LFr"></div>
                                <label class="_1Cvlf _2tL9P" for="firstName">Last name</label>
                            </div>
                        </div>
                        <div class="h-flex">
                            <div class="input-div">
                                <input type="text" id="email" class="form-control _381fS" formControlName="email" required />
                                <div class="_2EeI1 _26LFr"></div>
                                <label class="_1Cvlf _2tL9P" for="email">Email</label>
                            </div>
                            <div class="input-div">
                                <input type="text" id="mobile" class="form-control _381fS" formControlName="mobile" required />
                                <div class="_2EeI1 _26LFr"></div>
                                <label class="_1Cvlf _2tL9P" for="mobile">Mobile</label>
                            </div>
                        </div>

                        <div class="input-div">
                            <input type="password" id="password" class="form-control _381fS" formControlName="password" required />
                            <div class="_2EeI1 _26LFr"></div>
                            <label class="_1Cvlf _2tL9P" for="mobile">Password</label>
                        </div>
                        <div class="input-div">
                            <input type="password" id="repeatPassword" class="form-control _381fS" formControlName="repeatPassword" required />
                            <div class="_2EeI1 _26LFr"></div>
                            <label class="_1Cvlf _2tL9P" for="repeatPassword">Repeat Password</label>
                        </div>
                        <button type="submit" class="big-black-btn" style="width: 100%;">Create Account</button>
                        <div style="text-align: center;padding: 10px;font-weight: 600;">
                            Already have an account? <span (click)="signIn()" class="clickable">Sign In</span>
                        </div>
                    </form>
                </div>

                <div *ngIf="errorMessage !== undefined" class="alert alert-danger">
                    <p>{{errorMessage}}</p>
                </div>
                <div *ngIf="signupSuccess" class="alert alert-success">
                    <p>You are now registered with Desi Times. Please login <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/login']">Login</button></p>
                </div>
            </div>
        </div>
    </div>
</div>