/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
    -moz-appearance:initial;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    /* font-family: "Open Sans", sans-serif;
    background-color: #f8f7f4; */
    /* display: flex; align-items: center; justify-content: center; min-height: 100vh;  */
    background: #f5f5f5;
}

:root {
    --green: #27ae60;
    --black: rgb(0, 0, 0);
    --light-color: #666;
    --section-background: rgb(238, 238, 238);
    --aquamarine: aquamarine;
    --orange: coral;
    --white: #fff;
    --warning: #ffc107;
    /* --border: #e3e9ed; */
    --border: #DDDDDD;
    --v-border: chartreuse;
    --light-background: #fafafa;
    --mild-white: rgb(233, 230, 230);
    --form-control-color: rebeccapurple;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    font-family: 'Bodoni Moda', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--black);
    /* font-size: clamp(.5rem, 0.5rem + 10vw, .8rem); */
    font-size: 0.9rem;
    letter-spacing: .1px;
    font-weight: 300;
    
    box-sizing: content-box;
    --focus-color: rgb(200, 255, 144);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.anchor, .leaf {
    padding-right: 1px;
    font-weight: bold;
}

.leaf {
    font-weight: normal;
}

.anchor:hover {
    cursor: pointer;
    text-decoration: underline;
}

.chk-switch {
    display: inline-block;
    height: 34px;
    /* width: 80px; */
}

.chk-switch > input {
    display: none;
}

.chk-switch-slider {
    background-color: #ccc;
    cursor: pointer;
    transition: .4s;
    height: 26px;
    width: 40px;
}

.chk-switch-slider:before {
    background-color: #fff;
    content: "";
    height: 26px;
    position: absolute;
    transition: .35s;
    width: 26px;
}


.chk-switch>input:checked+.chk-switch-slider {
    background-color: #66bb6a;
} 

.chk-switch>input:checked+.chk-switch-slider:before {
    transform: translateX(20px);
    /* -moz-transform: translateX(23px); */
}

.chk-switch-slider.round {
    border-radius: 34px;
}

.chk-switch-slider.round:before {
    border-radius: 50%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    height: 260px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.clickable{
    font-weight: 500;
    text-decoration: underline;
}
.clickable:hover{
    cursor: pointer;
    color: #5d8ed5;
}
.clickableDiv{
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--focus-color);
}

.clickableDiv:hover{
   cursor: pointer;
   background-color: #27ae60;
   color: #fff;
}

.unClickableDiv{
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--focus-color);
}

.unClickableDiv:hover{
   background-color: #e2e2e2;
}

.gap {
    gap: 1.0;
}
.section-header{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 900;
    border-bottom: 1px solid #e3e3e3;
}

.big-black-btn{
    padding: 15px;
    display: block;
    background-color: black;
    border:none;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    width: 400px;
}
.big-black-btn:hover{
    opacity: 0.8;
}

.subHeader {
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.info-button {
    border: 1px solid #e2e2e2;
    padding: 30px;
    background-color: #fff;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.info-button:hover {
    cursor: pointer;
    border: 1px solid var(--focus-color);
    background-color: var(--focus-color);
}
.info-button> .value{
    font-weight: 900;
    font-size: 20px;
}

.bt-button {
    border: 1px solid #8a8a8a;
    padding: 5px 10px;
    background-color: transparent;
}

.bt-button:focus {
    border: 1px solid #6e20ff;
}

.bt-button:hover {
    border: 1px solid #6e20ff;
}

.bt-button:hover {
    cursor: pointer;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.d-flex >*{
    flex-grow: 1;
}

.h-flex,
.horizontal {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.y-flex,
.vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
}

.between,
.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

.section {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    background-color: transparent;
}

.back-left {
    margin: 10px 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.back-left:hover {
    cursor: pointer;
    border: 1px solid #0c38b3;
}

.select-span {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 6px 10px;
    align-items: center;
    margin: 3px 10px;
}

.select-span:hover {
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.selectedSpan {
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}


/* text Box */

.input-div {
    width: 100%;
    border: 1px solid #ececec;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
    margin: 5px 0;
    border-radius: 6px;
}


.input-div:hover {
    background-color: #ececec;
}

._381fS, ._381fS-currency {
    background-color: transparent;
    line-height: normal;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    border: none;
}

._381fS-currency::before{
    content: "£";
}

._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}

._25qBi {
    position: relative;
    clear: both;
}

._2-hTu {
    clear: both;
    margin-top: 20px;
}

._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 15px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform, color, font-size;
    pointer-events: none;
    font-weight: 400;
}

._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}

._2REYC {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding: 0 2rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #465ab2;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
}

.mr-1 {
    margin-right: 10px;
}

.md{
    display: none;
}
.lg{
    display: none;
}
.sm{
    display: flex;
}

/** Big Screen **/
@media (min-width: 550px) {
    .sm{
        display: none;
    }
    .lg,
    .md {
        display: flex;
    }
}